<!DOCTYPE html>
{% load static %}
<html style="color: #14213d; font-family: Source Sans Pro; font-size: 12pt; line-height: 1.6;">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="House Report">
		<meta name="author" content="Laxit Hirani">
		<style type="text/css">
			@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
			@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
		</style>
	</head>

	<body>
		<div style="font-size: 50px; color: #14213d; text-align:center; font-family: 'Montserrat', sans-serif; font-weight: 700; margin-bottom: 5px;">AlQuiler</div>
		<div>
			<p>Hey {{ username }}</p>
			
		</div>

		<div style="padding: 1.5rem; max-width: 590px; text-align: center;">
			<a style="text-decoration: none; width: 250px; display: inline-block; position: relative; color: #fff; cursor: pointer; font-size: 1rem; line-height: 4; letter-spacing: 2px; text-align: center; text-transform: uppercase; background-color: #101010; border: none;" href="#">Back to Alquiler</a>
		</div>
	</body>
</html>