{% extends 'base/base.html' %}

{% load i18n %}
{% load account %}

{% block content %}

<div class="main-container">
	<div class="container">

		<div class="row justify-content-center h-100">
			<div class="col-md-6">
				<div class="card login-card">
					<div class="card-header">
						{% trans "Password Reset" %}
					</div>

					<div class="card-body">
						{% if user.is_authenticated %}
							{% include "account/snippets/already_logged_in.html" %}
						{% endif %}

						<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

						<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
							{% csrf_token %}

							{% include 'dashboard/includes/errorhandling.html' %}

							{{ form.as_p }}

							<div class="form-group mt-5">
								<button type="submit" class="btn btn-secondary btn-block" name="action">{% trans "Reset Password" %}</button>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}