{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}

<div class="main-container">
	<div class="container">

		<div class="row justify-content-center h-100">
			<div class="col-md-6">
				<div class="card login-card">
					<div class="card-header">
						{% trans "Change Password" %}
					</div>

					<div class="card-body">
						<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
							{% csrf_token %}

							{% include 'dashboard/includes/errorhandling.html' %}

							{{ form.as_p }}

							<div class="form-group mt-5">
								<button type="submit" class="btn btn-secondary btn-block" name="action">{% trans "Change Password" %}</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}