<!DOCTYPE html>

{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="image" content="">
		<meta name="url" content="https://rentall.herokuapp.com/">
		<meta name="author" content="Duncan Maina">

		{% include 'base/src/favicon.html' %}

		<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<script type="text/javascript" src="https://kit.fontawesome.com/9d1c8c712b.js" crossorigin="anonymous"></script>

		<title>{% block title %}RentAll{% endblock title %}</title>

		{% include 'base/src/css.html' %}

		{% block extra_css %}
		{% endblock extra_css %}
	</head>
	<body>

		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-dismissable fade show" role="alert">{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">&times;</button>
				</div>
			{% endfor %}
		{% endif %}

		{% block content %}
		{% endblock content %}

		{% block modals %}
		{% endblock modals %}

		{% include 'base/src/js.html' %}

		{% block js %}
		{% endblock js %}

	</body>
</html>