{% extends 'base/base.html' %}

{% load static %}

{% block title %}Login Page{% endblock title %}

{% block content %}

<style type="text/css">
	.login-section {
		background-image: url("{% static 'home/images/couch.jpg' %}");
		background-size: cover;
	}

	.login-overlay {
		background-color: rgba(80, 151, 153, 0.85);
	}

	::placeholder {
		color: #A8CBCC !important;
		font-size: .95rem;
		font-weight: 600;
	}

	.login-container .card {
		box-shadow: -3px 4px 12px 0px #02393c;
	}

	.form-control {
		border-radius: 5rem;
		border: 2px solid #509699;
	}

	.login-container {
		height: 100vh;
	}

	.vertical-center {
		display: flex;
		align-items: center;
	}

	.h-600 {
		height: 600px;
	}

	.w-600 {
		width: 600px;
	}

	.w100 {
		width: 100px
	}

	.card-header {
		background-color: #fff;
		border-bottom: none;
	}

	.heading {
		color: #509799;
	}

	.submit {
		background-color: #FF748D !important;
		color: #fff !important;
		font-weight: bold;
		border: none;
		transition: background-color .3s ease-out;
	}

	.submit:hover, .submit:focus, .submit:active {
		background-color: #ff4b6c !important;
		transition: background-color .3s ease-out;
	}

	.link {
		color: #509699 !important;
		font-size: .9rem;
		font-weight: 600;
		display: block;
	}

	.login-form i {
		position: absolute;
		padding-top: 1rem;
		padding-left: 1rem;
		color: #A8CBCC !important;
		font-size: 1.25rem;
	}

	.br1-5 {
		border-radius: 1.5rem !important;
	}

	.custom-control-label {
		color: #509699 !important;
		font-size: .9rem;
		font-weight: 600;
	}

	.custom-control-input:checked ~ .custom-control-label::before {
	    color: #fff;
	    border-color: #509699;
	    background-color: #509699;
	}

	.custom-input {
		padding-left: 2.75rem;
		color: #2f6567!important;
		font-weight: 600;
	}


</style>

<section class="login-section">
	<div class="login-overlay">
		<div class="container">
			<div class="row login-container justify-content-center">
				<div class="col-md-6 vertical-center">
					<div class="card h-600 w-600 br1-5">
						<div class="card-header text-center br1-5">
							<img class="w100" src="{% static 'home/svg/admin.svg' %}">
							<h4 class="font-weight-bolder heading">Welcome Stranger!</h4>
						</div>
						<div class="card-body">
							<div class="container px-5">
								<form method="POST" class="login-form">

									<i class="fas fa-user-circle"></i>
									<input class="form-control custom-input mb-3" type="text" name="username" placeholder="Username">

									<i class="fas fa-lock"></i>
									<input id="password" class="form-control custom-input mb-3" type="password" name="password" placeholder="Password">

									<input class="form-control submit mb-3" type="submit" name="login" value="LOGIN">

									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Remember Me</label>
									</div>

									<a class="link my-3" href="#">Forgot Password?</a>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock content %}
