{% load static %}

<section class="ftco-section ftco-agent" id="agencies">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">Agencies</span>
				<h2 class="mb-4">Real Estate Agencies</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 ftco-animate">
				<div class="agent">
					<div class="img">
						<img src="{% static 'home/images/realestate.jpg' %}" class="img-fluid" alt="">
					</div>
					<div class="desc">
						<h3><a href="properties.html">Green Real Estate</a></h3>
						<p class="h-info"><span class="ion-ios-home icon"></span> <span class="details">43 Properties</span></p>
					</div>
				</div>
			</div>
			<div class="col-md-3 ftco-animate">
				<div class="agent">
					<div class="img">
						<img src="{% static 'home/images/realestate.jpg' %}" class="img-fluid hue-90" alt="">
					</div>
					<div class="desc">
						<h3><a href="properties.html">Blue Real Estate</a></h3>
						<p class="h-info"><span class="ion-ios-home icon"></span> <span class="details">28 Properties</span></p>
					</div>
				</div>
			</div>
			<div class="col-md-3 ftco-animate">
				<div class="agent">
					<div class="img">
						<img src="{% static 'home/images/realestate.jpg' %}" class="img-fluid hue-180" alt="">
					</div>
					<div class="desc">
						<h3><a href="properties.html">Purple Real Estate</a></h3>
						<p class="h-info"><span class="ion-ios-home icon"></span> <span class="details">30 Properties</span></p>
					</div>
				</div>
			</div>
			<div class="col-md-3 ftco-animate">
				<div class="agent">
					<div class="img">
						<img src="{% static 'home/images/realestate.jpg' %}" class="img-fluid grayscale" alt="">
					</div>
					<div class="desc">
						<h3><a href="properties.html">Grey Real Estate</a></h3>
						<p class="h-info"><span class="ion-ios-home icon"></span> <span class="details">25 Properties</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>