{% load static %}

<div class="" style="background-image: url('{% static 'home/images/couch.jpg' %}');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text justify-content-center align-items-center pb-10">
			<div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end">
				<div class="text text-center w-100">
					<h1 class="mb-4">Find A House<br>That Will Make You Happy</h1>
					<p><a href="{% url 'properties:properties-list' %}" class="btn btn-primary py-3 px-4">Search Properties</a></p>
				</div>
			</div>
		</div>
	</div>
</div>