<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="index.html">Rent<span class="brown-text">All</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="#properties" class="nav-link">Properties</a></li>
				<li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
				<li class="nav-item"><a href="#agencies" class="nav-link">Agencies</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
				<li class="nav-item"><a href="{%url 'account_login' %}" class="nav-link">Login</a></li>
			</ul>
		</div>
	</div>
</nav>