{% extends 'base/base.html' %}

{% load static %}

{% block content %}
	
	<div id="dashboard">
	{% include 'dashboard/includes/sidebar.html' %}

	<div class="main-container">
		{% include 'dashboard/navbar.html' %}
		<section class="dashboard">
			<div class="container">
				<div class="card">
					<div class="card-header font-weight-bold ">
						Occupied Houses
					</div>

					<div class="card-body">
						<table class="table table-hover table-borderless">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Apartment</th>
									<th scope="col">House No.</th>
									<th scope="col">Tenant</th>
									<th scope="col">Payment Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Rwandi</td>
									<td>HOU001</td>
									<td>Mark</td>
									<td class="status">PENDING</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Rwandi</td>
									<td>HOU002</td>
									<td>Jacob</td>
									<td class="status">PENDING</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Rwandi</td>
									<td>HOU003</td>
									<td>Larry</td>
									<td class="status">PAID</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="card">
					<div class="card-header font-weight-bold ">
						Vacant Houses
					</div>

					<div class="card-body">
						<table class="table table-hover table-borderless">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Apartment</th>
									<th scope="col">House No.</th>
									<th scope="col">Tenant</th>
									<th scope="col">Payment Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Rwandi</td>
									<td>HOU001</td>
									<td>Mark</td>
									<td class="status">PENDING</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Rwandi</td>
									<td>HOU002</td>
									<td>Jacob</td>
									<td class="status">PENDING</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Rwandi</td>
									<td>HOU003</td>
									<td>Larry</td>
									<td class="status">PAID</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
	</div>
{% endblock content %}