{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<style type="text/css">
	table a {
		color: #963e00;
		font-weight: 700;
	}
</style>
	
	<div id="dashboard">
	{% include 'dashboard/includes/sidebar.html' %}

	<div class="main-container">
		{% include 'dashboard/navbar.html' %}
		<section class="dashboard">
			<div class="container">
				<div class="card">
					<div class="card-header font-weight-bold ">
						Apartments
					</div>

					<div class="card-body">
						<a href="{% url 'dashboard:house-report' %}" class="btn btn-primary mb-3 float-right">Generate Report</a>
						<a href="{% url 'properties:appartment-create' %}" class="btn btn-primary mb-3 mr-3 float-right">Add Appartment</a>

						<table class="table table-hover table-borderless">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Name</th>
									<th scope="col">Location</th>
								</tr>
							</thead>
							<tbody>
								{% for appartment in appartments %}
									<tr>
										<th scope="row">{{ appartment.id }}</th>
										<td>{{ appartment.name }}</td>
										<td>{{ appartment.location }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="card">
					<div class="card-header font-weight-bold ">
						Occupied Houses
					</div>

					<div class="card-body">

						<a href="{% url 'properties:house-create' %}" class="btn btn-primary mb-3 float-right ">Add House</a>

						<table class="table table-hover table-borderless">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Apartment</th>
									<th scope="col">House No.</th>
									<th scope="col">Tenant</th>
									<th scope="col">Payment Status</th>
								</tr>
							</thead>
							<tbody>
								
								{% for house in occupied_houses %}
									<a href="#">
										<tr>
											<th scope="row">{{ house.id }}</th>
											<td>
												{{ house.appartment.name }}
											</td>
											<td>{{ house.name }}</td>
											<td>{{ house.tenant }}</td>
											<td class="status">{{ house.occupied_house.rent_status }}</td>
										</tr>
									</a>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="card">
					<div class="card-header font-weight-bold ">
						Vacant Houses
					</div>

					<div class="card-body">
						<a href="{% url 'properties:house-create' %}" class="btn btn-primary mb-3 float-right ">Add House</a>
						
						<table class="table table-hover table-borderless">
							<thead>
								<tr>
									<th scope="col">House No.</th>
									<th scope="col">House Name.</th>
									<th scope="col">Apartment</th>
									<th scope="col">Location</th>
								</tr>
							</thead>

							<tbody>
								{% for house in vacant_houses %}
									<tr>
										<th scope="row">{{ house.id }}</th>
										<td>
											<a href="{{ house.get_absolute_url }}">
												{{ house.name }}
											</a>
										</td>
										<td>{{ house.appartment.name }}</td>
										<td>{{ house.appartment.location }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
	</div>
{% endblock content %}