<div class="sidebar">
	<a href="{% url 'home:home' %}" title="Home"><i class="fa fa-fw fa-home"></i></a>
	<a href="#" title="Profile"><i class="fa fa-fw fa-user-shield"></i></a>
	<a href="{% url 'dashboard:tenant-list' %}" title="Tenants"><i class="fas fa-users"></i></a>
	<a href="#" title="Settings"><i class="fa fa-fw fa-cog"></i></a>
	<a href="#" title="Reports"><i class="fas fa-fw fa-file-alt"></i></a>
	<a href="{% url 'properties:properties-create' %}" title="Add Property"><i class="fas fa-fw fa-plus"></i></a>
</div>